@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
	/* primary color block */
	--primary-color-100: rgb(253, 252, 252);
	--primary-color-300: hsl(240, 40%, 60%);
	--primary-color-600: hsl(240, 60%, 30%);
	--primary-color-900: hsl(240, 80%, 10%);
	/* secondary color block */
	--secondary-color-100: hsl(34, 30%, 30%);
	--secondary-color-300: hsl(36, 40%, 60%);
	--secondary-color-600: hsl(36, 60%, 30%);
	--secondary-color-900: hsl(36, 80%, 10%);
}

* {
	box-sizing: border-box;
}
body {
	font-family: 'Roboto', sans-serif;
	background-color: black;
}
.photo img {
	display: flex;
	width: 80%;
	margin: 0 auto;
}
h1 {
	color: var(--primary-color-300);
	text-align: center;
}
.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.card {
	display: flex;
	flex-direction: column;
	background-image: url(/assets/images/cricket-ball.jpeg);
	background-size: cover;
	background-color: hsl(120, 49%, 20%);
	background-blend-mode: overlay;
	background-position: center;
	width: 25rem;
	height: fit-content;
	border-radius: 20px;
	border: 2px solid var(--primary-color-300);
	box-shadow: 0 0 2px 2px var(--primary-color-300);

	margin: 1em 1em;
	overflow: hidden;
	align-items: center;

	margin-bottom: 1em;
}
.card-contact {
	color: var(--primary-color-300);
}

.card-title {
	color: var(--primary-color-100);
	text-transform: uppercase;
	text-align: center;
	padding: 10px;
	font-size: 1.2em;
	margin-top: 1em;
}
.card-blurb {
	color: var(--primary-color-100);
	padding: 2em;
	line-height: 1.5em;
	text-align: center;
}
header {
	background-color: black;
	color: white;
	padding: 2em;
}
nav a {
	color: var(--primary-color-100);
	text-decoration: none;
}
nav {
	display: flex;
	// flex-direction: column;
	justify-content: space-between;
}
ul {
	display: flex;
	justify-content: flex-end;
	list-style: none;
}
li + li {
	margin-left: 1em;
}
