h1 {
	color: red;
}
.container {
	width: 80%;
	margin-left: 2em;
}
ol,
ul,
li {
	padding: 1em;
	margin-left: 1em;
}
.faqQ {
	font-weight: bold;
}
a {
	color: red;
}

a:hover {
	text-decoration: overline;
	font-size: larger;
}
