.guidecontainer ul {
	display: flex;
	flex-direction: column;
}
.guidecontainer {
	display: flex;
	flex-direction: column;
	width: 70%;
	margin: 0 auto;
}

.guidecontainer li {
	list-style: decimal;
	flex-direction: column;
}

h2 {
	color: red;
}

